
{% extends 'SHLMLCoreBundle:SearchDocument:base.html.twig' %}

    {% block javascripts %}
        <script src="http://localhost/BiblioSHLML/web/jquery-1.7.2.min.js"></script>
        <script src="http://localhost/BiblioSHLML/web/lib/WebViewer.min.js"></script>



        <script language="javascript" charset="UTF-8">

            var searchedWord = '{{ searchedWord}}' ;
            console.log(searchedWord);
            var selectedWord = '{{ selectedWord }}';
            var wordList = {{ wordList|json_encode|raw }};
            var documentList = {{ documentList|json_encode|raw }};

            var path = "http://localhost/BiblioSHLML/web/pdf/";
            //var path="E://SHLML-T2/PDF_Split/";

            var i=0, currentLoad = documentList[i];
            var j= {{ selectedIndex }}, currentWord = selectedWord;

            var viewerElement;
            var myWebViewer;
            $(function() {

                document.getElementById('#searchedWord').value=searchedWord;
                document.getElementById('#selectedWord').value=selectedWord;
                SelectWord.selectedIndex=j;


                viewerElement = document.getElementById('viewer');
                myWebViewer = new PDFTron.WebViewer({
                    path: "http://localhost/BiblioSHLML/web/lib",
                    initialDoc: path + documentList[i],
                    custom: selectedWord,
                    showToolbarControl: false,
                    enableReadOnlyMode: true
                }, viewerElement);

                $(viewerElement).on("toolModeChanged", function(event) {
                    myWebViewer.setToolMode(PDFTron.WebViewer.ToolMode.Pan);
                });

                $('#nextDocumentButton').on('click', function() {
                    if (++i > documentList.length-1 ) i--;
                    else {
                        myWebViewer.loadDocument(path + documentList[i]);
                        currentLoad = documentList[i];
                        SelectMenu.selectedIndex=i;
                    }
                });

                $('#previousDocumentButton').on('click', function() {
                    if (--i < 0) i++;
                    else{
                        myWebViewer.loadDocument(path + documentList[i]);
                        currentLoad = documentList[i];
                        SelectMenu.selectedIndex=i;
                    }
                });
            });
        </script>


    {% endblock %}

    {% block main %}
        <div>
            <script language="javascript" charset="UTF-8">
                function changeDoc() {
                    i = SelectMenu.selectedIndex;
                    if (currentLoad != documentList[i]) {
                        myWebViewer.loadDocument(path + documentList[i]);
                        currentLoad = documentList[i];
                        SelectMenu.selectedIndex = i;
                    }
                }
                function changeWord(wordForm) {
                    j = SelectWord.selectedIndex;
                    document.getElementById('#selectedWord').value = wordList[j];
                    if (currentWord != wordList[j]){
                        SelectWord.selectedIndex=j;
                        currentWord = wordList[j];
                        document.getElementById('#wordForm').submit();
                    }
                }

            </script>

            <form id="#searchForm" method="POST" action="multiple_search" accept-charset="UTF-8">
                <label> Texte recherché </label>
                <input name="searchedWord" id="#searchedWord"/>
                <input id="#searchButton" type="submit" value="Valider"> </input>
            </form>

            <form id="#docForm" accept-charset="UTF-8">
                Choisir un document contenant ce mot dans la liste déroulante:
                <select style="width: 200px" name='SelectMenu' id='SelectMenu' onChange='changeDoc()'>
                    <script language="javascript" charset="UTF-8">
                        for(var k=0; k<documentList.length; k++){
                            document.write("<option>" + documentList[k] + "</option>");
                        }
                    </script>
                </select>
            </form>

            <form id ='#wordForm' method="POST" action="multiple_search" accept-charset="UTF-8">
                   Choisir un mot similaire dans la liste déroulante :

                <select style="width: 200px" name='SelectWord' id='SelectWord' onChange='changeWord()'>

                    <script language="javascript" charset="UTF-8">
                        for(var k=0; k<wordList.length; k++){
                            document.write("<option>" + wordList[k] + "</option>");
                        }

                        document.write("<input type='hidden' name='searchedWord' id='#searchedWord' value='" + searchedWord + "'/>" );
                        document.write("<input type='hidden' name='selectedWord' id='#selectedWord' value='" + wordList[j] + "'/>" );
                        document.write("<input type='hidden' name='wordList' id='#wordList' value='" + wordList + "'/>" );
                        document.write("<input type='hidden' name='documentList' id='#documentList' value='" + documentList + "'/>" );
                    </script>
                </select>
            </form>


            <input id="previousDocumentButton" type="button" value="Précédent document"/>
            <input id="nextDocumentButton" type="button" value="Prochain document"/>
        </div>
        <a href="http://localhost/BiblioSHLML/web/app_dev.php/index"> Revenir à la page d'accueil </a>

        <div id="viewer" style="height: 700px;"/>

    {% endblock %}

