{% extends 'SHLMLCoreBundle:SearchDocument:base.html.twig' %}

    {% block javascripts %}
        <script src="http://localhost/BiblioSHLML/web/jquery-1.7.2.min.js"></script>
        <script src="http://localhost/BiblioSHLML/web/lib/WebViewer.min.js"></script>

        <script language="javascript">

            var searchedWord = '{{ searchedWord }}' ;
            var selectedWord ='{{ selectedWord }}';
            var wordList = {{ wordList|json_encode|raw }};
            var selectedDocument = '{{ selectedDocument }}';
            var j= {{ selectedIndex }};

            var path = "http://localhost/BiblioSHLML/web/pdf/";
            //var path="E://SHLML-T2//PDF_Split";

            var viewerElement;
            var myWebViewer;

            $(function() {
                document.getElementById('#searchedWord').value=searchedWord;
                document.getElementById('#selectedWord').value=selectedWord;
                viewerElement = document.getElementById('viewer');
                myWebViewer = new PDFTron.WebViewer({
                    path: "http://localhost/BiblioSHLML/web/lib",
                    initialDoc: path + selectedDocument,
                    custom: selectedWord,
                    showToolbarControl: false,
                    enableReadOnlyMode: true
                }, viewerElement);

                $(viewerElement).on("toolModeChanged", function(event) {
                    myWebViewer.setToolMode(PDFTron.WebViewer.ToolMode.Pan);
                });
            });
        </script>

        <script language="javascript">
            function changeWord(form) {
                j = SelectWord.selectedIndex;
                document.getElementById('#selectedWord').value=wordList[j];
                document.getElementById('#form').submit();
            }

        </script>
    {% endblock %}

    {% block main %}
        <div>

            <form id="#form" method="POST" action="single_search">
                <label> Texte Recherché </label>
                <input name="searchedWord" id="#searchedWord"/>;
                <input id="#searchButton" type="submit" value="Valider"> </input>
                <p></p>

                Choisir un mot similaire dans la liste déroulante :
                <select style="width: 200px" name='SelectWord' id='SelectWord' onChange='changeWord(this.form)'>
                    <script language="javascript">
                        for(var k=0; k<wordList.length; k++){
                            if(k==j){
                                document.write("<option selected>" + wordList[k] + "</option>");
                            } else {
                                document.write("<option>" + wordList[k] + "</option>");
                            }
                        }
                        document.write("<input type='hidden' name='soughtWord' id='#soughtWord' value='" + searchedWord + "'/>" )
                        document.write("<input type='hidden' name='selectedWord' id='#selectedWord' value='" + wordList[j] + "'/>" );
                        document.write("<input type='hidden' name='selectedDocument' id='#selectedDocument' value='" + selectedDocument + "'/>" );
                        document.write("<input type='hidden' name='wordList' id='#wordList' value='" + wordList + "'/>" );

                    </script>
                </select>
            </form>
        </div>
        <a href="http://localhost/BiblioSHLML/web/app_dev.php/index"> Revenir à la page d'accueil </a>
        <div id="viewer" style="height: 700px;"/>

    {% endblock %}

